@import "globals";

html,
body,
:global(div#app) {
  min-height: 100%;
}

h1 {
  @include clear;
}

body {
  @include clear;
  // @include fade-bg($light, $light-grey);

  :global(div.app) {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
